/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Press Start 2P", system-ui;
  font-weight: 200;
  font-style: normal;
}

/******************************************
/* LAYOUT
/*******************************************/
body * {
  text-align: center;
}

body {
  margin-top: 50px;
  /* background-color: rgb(22, 168, 22); */
}

form {
  display: flex;
  justify-content: center;
}

input {
  width: 150px;
}

img {
  display: block;
  margin: 0 auto;
  height: 200px;
}

form, .typeContainer {
  margin-bottom: 50px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 490px) {
  img {
    height: 135px;
  }
}